:root {
  --calendar-bg-color:  cadetblue;
  --calendar-hover-color: #5F9EA0;
  --calendar-boxinner-color: white;
  --calendar-border-radius:8px;
  --calendar-placeholder-color:#404040;
}

html, body {
	height: 100%;
  text-align: left;
  margin: 0;
}

.calendar{
    background-color: var(--calendar-bg-color);
    font-family: 'Poppins', sans-serif;
  }
.calendar h2{
    color:black;
    padding:10%;
}
.calendar form{
  direction: ltr;
}

.calendar select,
.calendar .inputdata,
.calendar .datetime{
  display: block;
  width: 80%;
  max-width: 300px;
  padding: 8px 38px;
  margin: 5px 15px;
  box-sizing: border-box;
  border: none;
  text-align: left;
  border-radius: var(--calendar-border-radius);
  background-color: white;
  color: var(--calendar-placeholder-color);
  text-align: center;

}

.calendar .Calendar-submit input{
    background:#92828D;
    border-radius: var(--calendar-border-radius);
    border:#92828D;
    border:none;
    width:150px;
    padding:8px 15px;
    margin-bottom: 10%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.calendar .Calendar-submit input:hover{
  background:#92828D;
  cursor: pointer;
}

.calendar .datetimetitle{    
    margin: 28px 0 5px 0;
    float: left;
    margin:5px;
  }
  
  .calendar input:hover,.inputdata:hover,select:hover,.description:hover {
    background-color: var(--calendar-hover-color);
    opacity: .5;
    color:white;
  }

  .calendar input:active,.inputdata:active,.datetime:hover,select:active,.description:active {
    background-color: var(--calendar-hover-color);
    opacity: .5;
    color:black;
  }
  .container{
    background-color: antiquewhite;
    border-style: hidden;
    border-radius: var(--calendar-border-radius);
    padding:1rem;
    margin:5em;

    text-align: center;
    box-shadow: 0 8px 6px -6px black;
  }


  .calendar .description{
    width:100%;
    border:none;
    margin:35px 15px;
  }

  .calendar ::placeholder {
    color: var(--calendar-placeholder-color);
    opacity: 1; /* Firefox */
  }

  @media screen and (max-width:800px){
    .calendar .container{
   width:100%;
  } 
  .calendar .datetimetitle{    
    display:inline;
    margin: 12px 22px;
  }
.calendar select,
.calendar .inputdata, 
.calendar .datetime{
    width: 50%;
    float:right;
    margin-right: 25px;
    display: block;
  direction: ltr;
  }

  .calendar .description{
    width:90%;
    border:none;
    margin:15px;
  }
}